extends assets/pug-templates/layout.pug
block beglink
    - var pageTitle = "Color Game";
    meta(name="description" content="SEO stuff")
block endlink
    link(rel="stylesheet" href="assets/css/color-game.css")
block content
    .fluid-container.header
        .container
            h1 The Great <span id="colorDisplay"></span> RGB Color Game
        .row.text-center.stripe
            .col
                btn#reset.btn.btn-lg New Colors
            .col
                span#message
            .col
        .container
            .row
                .col
                    .square
                    .square
                    .square
            .row
                .col
                    .square
                    .square
                    .square
    script(src="assets/js/color-script.js")