html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Testing grounds
        link(rel="stylesheet" href="/../public/css/style.css")
        script(src="assets/js/script.js")
    body
        p write a function that prints in reverse. takes array as an argument and prints out the elements in reverse (without destroying the original array) *Hint: will use a loop* - printReverse()
        p takes an array as an argument and will return true if all elements in the array are identical - isUniform()
        p takes an array and returns the sum of all the numbers in the array - sumArray()
        p accepts an array of numbers and returns the maximum number in the array - max()
        br
        p
        h1 Hello
        h1 Goodbye
        ul
            li#highlight List Item 1
            li.bolded <a href="http://www.google.com">List Item 2</a>
            li.bolded List Item 3
        p getElementById - singular
        p getElementsByClassName - singluar, but not an array but a node list (javascript objects, not html strings)
        p getElementsByTagName - cant return multiple elements, node list
        p querySelector - only selects the first match. Only returns one element
        p querySelecterAll - same as above, returns all matching elements
        br
        div Div 1
        .highlight Div 2
        #third Div 3
        .highlight Div 4
        p classList
        p textContent
        p innerHTML
        p getAttribute and setAttribute

        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")

