html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Movie Database
        link(rel="stylesheet" href="/../public/css/style.css")
        script(src="assets/js/db-script.js")
    body
        p ratings are on a ten point scale
        p will add type of media as well as the year
        p maybe put some css and pull them out of the database
        p comparison of sql queries and javascript scripts