html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Simple Todo List
        link(rel="stylesheet" href="/../public/css/style.css")
        script(src="assets/js/to_do-script.js")
    body
        .container 
            .row
                .col
                    h1 Simple Todo List
                    br
                    h4 Quick Commands
                    ul
                        li "new" - Add a todo
                        li "list" - View all todos
                        li "delete" - Remove specific todo
                        li "quit" - Quit app
                    p Most actions are visible in the Console