doctype html
html(lang="en")
    head
        block beglink
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        meta(name="author", content="Dee Adebayo")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        //- link(href='../../public/css/style.css', rel='stylesheet')
        link(rel="stylesheet" href="../public/css/style.css")
        block endlink
    body
        block content